/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


html {
    /* This is done so that 1rem = 10px taking into consideration that default font-size of browser is 16px and then from now on I'll use rem as a length unit. */
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    color: #555; /* This is our main text color*/
    font-weight: 400;
}





.section-hero {
    background-color: #fdf2e9;
}

.hero {
    /* We'll not use px to define the length and will use rem. */
    /* max-width: 1300px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    align-items: center;
    gap: 0 9.6rem;
    height: 810px;
}

.heading-primary {
    font-size: 5rem;
    color: #333;
    font-weight: 2500 !important;
    letter-spacing: -0.5px;
    line-height: 1.05;
    margin-bottom: 3.6rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img-box {
    grid-column: 2/3;
    grid-row: 1 / 3;
}

.hero-img {
    width: 100%;
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    /* margin-top: 4.8rem; */
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    transition: background-color 500ms;
}

.btn--fill:link,
.btn--fill:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
    color: #555;
    background-color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
    background-color: #cf711f;
    text-decoration: underline;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    /* Now we'll not use border as in border the outlines are on the outside. Instead we'll use the outline or box-shadow property */
    box-shadow: inset 0px 0px 0px 3px #fff;
    text-decoration: underline;
    /* outline: #fff solid 3px; */
}

/* We'll create a utility class that can be used for any element by simply adding a class. */
.margin-right-btn {
    margin-right: 2.4rem;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.delivered-imgs img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    outline: #fdf2e9 solid 3px;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

    .delivered-text span {
        color: #cf711f;
    }

@media (min-width: 1500px) {
.container {
    max-width: 1480px !important;
}
}

@media (min-width: 1700px) {
    .container {
        max-width: 1680px !important;
    }
}



/*Login css*/

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #295650;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

    .login-box h1 {
        color: #fff;
        text-align: center;
        font-size: 24px;
        margin-top: 0;
    }

    .login-box p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff; 
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .login-box input[type="text"],
        .login-box input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #1DC48C;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            .login-box input[type="submit"]:hover {
                cursor: pointer;
                background: #1DC48C;
                color: #000;
            }

    .login-box a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

        .login-box a:hover {
            text-decoration: underline;
        }

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.invit-only {
    margin: 0px 0;
    color: #fff;
    font-size: 14px;
}

    .invit-only label {
        display: flex;
        align-items: center;
    }

        .invit-only label input[type="checkbox"] {
            margin-right: 1px;
        }

.referral-code {
    color: white;
}