@model BBMS.Models.SignInModel

@{
    ViewData["Title"] = "Login";
}


<div class="container" style="margin-top: 5rem; width: 1200px;">
    <h1 class="display-4 text-sm-center">Login</h1>
    <br />
    <div class="row">
        <div class="col-md-4 offset-4" style="padding: 35px; border: 1px solid black; border-radius: 10px; background-color: #eff6ff; font-size: 1.3rem">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input style="font-size: 1.3rem" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input style="font-size: 1.3rem" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label" >
                        <input style="font-size: 1.3rem;" class="form-check-input" asp-for="RememberMe" /> &nbsp;  Remember Me
                    </label>
                </div>
                <div class="form-group offset-5">
                    <input style="font-size: 1.4rem" type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            <div class="text-center font-size: 1.3rem">
                <p><a asp-controller="Account" style="font-size: 1.2rem" asp-action="ForgotPassword">Forgot Password?</a></p>
                Don't have account?  <a asp-controller="account" style="font-size: 1.2rem" asp-action="signup">Sign Up</a>
            </div>
        </div>
    </div>
</div>




@*
<div class="login-box">
    <img src="~/Images/download.png" class="avatar">
    <h1 class="mb-4">Login Here</h1>
    <form asp-action="Login">  
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        <p>Email</p>
        <input type="text" name="Email" placeholder="Enter Email Address" asp-for="Email">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
      
      
        <input type="submit" name="submit" value="Login">
      
        <p><a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a></p>
        <a asp-controller="account" asp-action="signup">SignUp</a>
        <br>
       
    </form>
</div>
*@