@model BBMS.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container" style="margin-top: 10rem; width: 1200px;">

<h4 class="display-4">Reset Password</h4>
<hr />
<div class="row">
        <div class="col-md-4 offset-4" style="padding: 35px; border: 1px solid black; border-radius: 10px; background-color: #eff6ff; font-size: 1.3rem">
        @if (Model?.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <p>Your Password updated succesfully.</p>
            </div>
        }
        else
        {
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                        <input style="font-size: 1.3rem" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input style="font-size: 1.3rem" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <input style="font-size: 1.4rem" type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        }
        <div>
              ⬅️ <a style="font-size: 1.3rem" asp-action="Login" asp-controller="Account">Back to Login</a>
        </div>
    </div>
</div>
</div>