@model BBMS.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h4 class="display-4">Reset Password</h4>
<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        @if (Model?.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <p>Your Password updated succesfully.</p>
            </div>
        }
        else
        {
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        }
        <div>
            <a asp-action="Login" asp-controller="Account">Back to Login</a>
        </div>
    </div>
</div>

